.animation-page {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.animation-page__title {
  &:hover {
    color: dodgerblue;
  }
  &:active {
    color: yellow;
  }
}

.animation-page__button {
  &:hover {
    color: orange;
  }
  &:focus {
    background: dodgerblue;
  }
  &:active {
    color: red;
    padding: 2rem;
  }
}