figure#synacor-mug {
  border: 10px #e6e6e6 dotted;
  float: left;
  margin-right: 2rem;
  padding: 3px;
  width: 30%;
  figcaption {
    font-size: 0.6rem;
    padding: 0 0.2rem 0.4rem;
    text-align: center;
  }
  img {
    margin: 0;
  }
}