@keyframes submit-pulsate {
  0% { background: rgba(#ff0, 0.92); box-shadow: 0 0 6px 1px #aa0; color: #000;}
  25% { background: rgba(#aa0, 0.77); box-shadow: 0 0 12px 1px #ff0; color: #fff;}
  50% { background: rgba(#ee0, 0.92); box-shadow: 0 0 6px 1px #ee0; color: #888;}
  75% { background: rgba(#aa0, 0.77); box-shadow: 0 0 12px 1px #ff0; color: #fff;}
  100% { background: rgba(#ff0, 0.92); box-shadow: 0 0 6px 1px #aa0; color: #000;}
}

@keyframes leftShark {
  0% { background: #d7263d; box-shadow: 0 0 50px 70px #d7263d; opacity: 1; border-radius: 0;}
  33% { background: #f46036; box-shadow: 0 0 150px 70px #f46036; opacity: 0.35; border-radius: 10%;}
  50% { background: #2e294e; box-shadow: 0 0 50px 70px #2e294e; opacity: 0.6; border-radius: 14%;}
  66% { background: #1b998b; box-shadow: 0 0 150px 70px #1b998b; opacity: 0.25; border-radius: 10%;}
  100% { background: #c5d86d; box-shadow: 0 0 50px 70px #c5d86d; opacity: 0.95; border-radius: 0;}
}

@keyframes rightShark {
  0% { background: #99621e; box-shadow: 0 0 50px 70px #99621e; opacity: 1; border-radius: 0;}
  33% { background: #d38b5d; box-shadow: 0 0 150px 70px #d38b5d; opacity: 0.35; border-radius: 10%;}
  50% { background: #f3ffb6; box-shadow: 0 0 50px 70px #f3ffb6; opacity: 0.6; border-radius: 14%;}
  66% { background: #739e82; box-shadow: 0 0 150px 70px #739e82; opacity: 0.25; border-radius: 10%;}
  100% { background: #2c5530; box-shadow: 0 0 50px 70px #2c5530; opacity: 0.95; border-radius: 0;}
}

.contactContainer {
  background: url(https://storage.googleapis.com/russellmschmidt-net-portfolio/leif-erikson.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 8%);
  grid-template-rows: 15% 85%;
  justify-content: space-evenly;

  .headerContainer {
    grid-column: span 12;

    h1 {
      margin: 0rem 0 0.25rem;
    }
  }

  .imageContainer {
    display: none;
  }

  form {
    grid-column: 2 / 12;
  }

  .contactFormInput {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin: 0 0 1.33rem 0;
    background: rgba(#e5e5e5, 0.92);
  }

  input[type=text].contactFormInput, input[type=email].contactFormInput, textarea.contactFormInput {
    font-size: 12px;
    border-radius: 6px;
    border: none;
  }

  select.contactFormInput {
    font-size: 10px;
  }

  textarea {
    height: 25%;
    min-height: 120px;
  }

  .submitContainer {
    text-align: center;
  }

  input[type=submit] {
    background: rgba(#ff0, 0.92);
    border: 1px solid #555;
    border-radius: 6px;
    padding: 6px 12px;
    margin-top: -10px;
    font-weight: 700;
    box-shadow: 0 0 3px 3px #660;
  }
}


@media (min-width: 768px) {
  .contactContainer {
    height: calc(100vh - 180px);
    background: none;

    .headerContainer {
      grid-column: span 12;
    }

    .imageContainer {
      display: block;
      text-align: center;
      img {
        max-width: 80%;
      }
    }

    .leftImageContainer {
      grid-column: 1 / 3;

      img{
        &:hover {
          animation: leftShark 6s linear infinite;
        }
      }
    }

    .rightImageContainer {
      grid-column: 11 / 13;

      img{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        &:hover {
          animation: rightShark 6s linear infinite;
        }
      }
    }

    form {
      grid-column: 4 / 10;
    }

    .imageContainer, form {
      padding: 1rem 0;
    }

    .contactFormInput {
      padding: 5px;
      margin-bottom: 10px;
    }

    textarea {
      height: 27%;
      min-height: 120px;
    }

    input[type=submit] {
      cursor: pointer;
      box-shadow: 0 0 1px 1px #ddd;
      &:hover {
        animation: submit-pulsate 3s ease-in-out infinite;
      }
    }
  }
}

